{% extends 'base.html' %}
      {% block content %}
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <div class="auth-container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <button type="submit">Login</button>
        </form>
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
    </div>

  
    {% endblock %}